/* ROOT */
:root {
  --color-main: #ddd;
  --color-background: #333;
  --color-white: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background-color: var(--color-main);
    border-bottom: 3px solid black;
}

nav ul {
    display: flex;
    list-style: none;         
    justify-content: right;
    margin-right: 16px;
    gap: 40px; 
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--color-background);
    font-family: var(--font-main);
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  background: url("background.jpg");
}

button {
  cursor: pointer;
}

#search {
  border-radius: 8px;
  width: 100%;
 
  color: var(--color-white);
  background-color: black;
  border: 2px solid var(--color-main);
}

#asc-sort, #desc-sort, #name-az-sort, #name-za-sort {
  padding: 6px;
  border: none;
 
  background: rgba(0, 0, 0, 0.0);
  color: black;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  color: black;
  border-radius: 12px;
  padding: 20px;
  width: 220px;
  transition: transform 0.2s;
}

.card h3 {
  margin: 0 0 10px 0;
  color: black;
  font-size: 1.2em;
}

.card p {
  margin: 5px 0;
  font-size: 0.9em;
}

.card b {
  color: blueviolet;
}

/*LOG IN MODAL*/
#login {
  padding: 20px 20px;
  position: fixed;
  z-index: 1000;

  visibility: hidden;
  opacity: 0;

  background-color: var(--color-white);
  border: 3px solid;
  border-color: black;
}

#login.show {
  visibility: visible;
  opacity: 1;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form button {
  width: 100%;
}

#scroll-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  padding: 10px 20px;

  visibility: hidden;
  cursor: pointer;

  background-color: #007bff;
  color: white;
  opacity: 0;
}

#scroll-btn.show {
  opacity: 1;
  visibility: visible;
}